{% if time_entry_list %}
    <ul>
    <h1>{{ day.day_name }}</h1>
    {% for entry in time_entry_list %}
        <li>{{ "Tätigkeit: " }} {{ entry.entry_text }}</li>
        <li>{{ "Kategorie: "}} {{ entry.entry_category__category_text }}</li>
        <li>{{ "Aktuelle Stimmenanzahl: "}} {{ entry.votes }}</li>
        <br></br>
    {% endfor %}
    </ul>
{% else %}
    <p>Aktuell keine Einträge vorhanden</p>
{% endif %}
<a href="{% url 'zeitplan:day_edit' day.id %}">{{ "Weiter um Einträge zu bearbeiten." }}</a>
<br></br>
<a href="{% url 'zeitplan:overview' %}">{{ "Zurück zur Übersicht aller Tage." }}</a>
<br></br>
<a href="{% url 'zeitplan:index' %}">{{ "Zurück zum Start." }}</a>
