{% if time_entry_list %}
    <ul>
    <h1>{{ day.day_name }} {{ day.different_day_date }}</h1>
    {% for entry in time_entry_list %}
        <li><b>{{ "Tätigkeit: " }} {{ entry.entry_text }}</li></b>
        {{ "Kategorie: "}} {{ entry.entry_category__category_text }}<br>
        {{ "Aktuelle Stimmenanzahl: "}} {{ entry.votes }}<br>
        {{ "Schon erledigt?" }} {{ entry.entry_status }}<br>
        <br>
    {% endfor %}
{% else %}
    <p>Aktuell keine Einträge vorhanden</p>
{% endif %}
<a href="{% url 'zeitplan:day_edit' day.id %}">{{ "Weiter um Einträge zu bearbeiten." }}</a>
<br>
<a href="{% url 'zeitplan:overview' %}">{{ "Zurück zur Übersicht aller Tage." }}</a>
<br>
<a href="{% url 'zeitplan:index' %}">{{ "Zurück zum Start." }}</a>
</ul>