<form action="{% url 'zeitplan:day_delete' day.id %}" method="post">
{% csrf_token %}<ul>
<h1>{{ day.day_name }} {{ day.different_day_date }}</h1>
{% if time_entry_list %}

    {% for entry in time_entry_list %}
        <li><b>{{ "Tätigkeit: " }} {{ entry.entry_text }}</li></b>
        {{ "Kategorie: "}} {{ entry.entry_category__category_text }}<br>
        {{ "Aktuelle Stimmenanzahl: "}} {{ entry.votes }}<br>
        {{ "Schon erledigt?" }} {{ entry.entry_status }}<br>
        <br>
    {% endfor %}
{% else %}
    <p>Aktuell keine Einträge vorhanden</p>
{% endif %}
    <li><b>{{ "Tag entfernen?" }}</b></li>
        <label for="day_delete{{ forloop.counter }}"></label><br>
        <input type="submit" value="Tag entfernen"><br></br>
</form>
<a href="{% url 'zeitplan:day_edit' day.id %}">{{ "Weiter um Einträge zu bearbeiten." }}</a>
<br>
<a href="{% url 'zeitplan:overview' %}">{{ "Zurück zur Übersicht aller Tage." }}</a>
<br>
<a href="{% url 'zeitplan:index' %}">{{ "Zurück zum Start." }}</a>
</ul>