{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load django_htmx %}
<html>
    <head>
        <title>Zeitplan App</title>
    </head>
    <body>
        <link rel="stylesheet" href="{% static 'zeitplan/style.css' %}">
        {% block content %}{% endblock %}
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">{{ "Login!" }}</a>
            <br />
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">{{ "Logout!" }}</a>
        {% endif %}
    </body>
</html>
