{% load static %}

<html>
    <head>
        <title>Zeitplan App</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <link rel="stylesheet" href="{% static 'zeitplan/style.css' %}">
        {% block content %}{% endblock %}
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">{{ "Login!" }}</a>
            <br />
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">{{ "Logout!" }}</a>
        {% endif %}
    </body>
</html>
